body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: larger;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
}
 
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "\2022";
    margin-right: 0.5em; 
    color: #18c712; 
}

header {
    background-color: #131212;
    padding: 20px;
    border-bottom: 2px solid  #23a817; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

header h1 {
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #23a817;
}

section {
    padding: 50px 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.links-box {
    background-color: #222222;
    border: 2px solid  #23a817;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px; 
}

.links-box a {
    display: block; 
    color: #fff; 
    text-decoration: none; 
    padding: 10px 0; 
    font-size: 18px;
}

.links-box a:hover {
    background-color: #23a817; 
}
